#Title {
  margin-bottom: 25px;
  border : 2px solid hwb(0 48% 52%);
  border-radius: 20px;
  box-sizing: border-box;
  padding : 5px;
  transition: border 0.2s ease-in-out;
}

#Title:hover
{
  border-color: hwb(0 86% 14%);
}


#Chat-Talking {
  height: 80%;
  width: 90vw;
  border-bottom: 5px solid black;
  padding : 5px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

#Chat-Area {
  height: 20%;
  width: 90vw;
  padding : 5px;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
}

#Chat-Area *
{
  height:75%;
}

#temp {
  min-height: 80%;
  max-height: 80%;
  min-width: 80%;
  border: 4px solid black;
  background-color: white;
}

#chat-msg
{
  width: 80%;
  resize: none;
}

#chat-btn
{
  width: 20%;
  transform: opacity 0.3s ease-in-out,background-color 5s ease-in-out;
}

#chat-btn:disabled
{
  background-color: grey;
}

#Screen {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background: #e1edea;
  background: linear-gradient(
    0deg,
    rgba(225, 237, 234, 1) 6%,
    rgba(53, 54, 69, 1) 18%
  );
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}
